<body>
    <div class="Contenedor">
        <div class="p3 screen">
            <br><br>
            <p id="t1">Productos</p>
            <br><br>

            <select class="but" name="" id="select">
                <option>Seleccione</option>
                <option value='div1'>Explosivos</option>
                <option value='div2'>Agentes de voladura</option>
                <option value='div3'>Accesorios de voladura</option>
            </select>

            <br><br>

            <div id='verProducto'>

                <div id='div1'>
                    <input type="text" id="buscador">
                    <button onclick="buscarproducto()">buscar</button>
                </div>
            </div>

            <div id="productocont"></div>

            <div id="productobusqueda"></div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <a class="but" routerLink="/MenuPrincipal">volver</a>
        </div>
    </div>



    <script src="productos.js"></script>
</body>