<body>

    <div class="Contenedor">
        
        <div class="p2 screen">
            <br><br><br><br><br><br><br><br><br>
            <a class="but" routerLink="/Conversiones">Conversiones</a>
            <br><br>
            <a class="but" routerLink="/DiseñoVoladura">Diseño de voladura</a>
            <br><br>
            <a class="but" routerLink="/Productos">Productos</a>
            <br><br><br><br><br><br>
            <a class="but" routerLink="/Inicio">volver</a>
        </div>
    </div>
    
</body>