<body>
    <div class="Contenedor">
        <div class="p4 screen">
            <br><br>
            <p id="t1">Diseño de voladura</p>
            <br><br><br><br><br><br><br><br>
            <a class="but" routerLink="/CieloAbieto">Mineria a Cielo Abierto</a>
            <br><br><br><br>
            <a class="but" routerLink="/Subterranea">Mineria Subterranea</a>
            <br><br><br><br><br><br>
            <a class="but" routerLink="/MenuPrincipal">volver</a>
        </div>
    </div>
    
</body>