<body>

    <div class="Contenedor">
        <div class="p3 screen">
            <br><br>
            <p id="t1">Converciones</p>
            <br><br><br><br>
            <select class="but" name="" id="select">
                <option>Seleccione</option>
                <option value='div1'>Longitud</option>
                <option value='div2'>Volumen</option>
                <option value='div3'>Peso</option>
            </select>
            <br><br>

            <div id='oLong'>
                
                <div id='div1'>
                    <select class="but">
                        <option>cm - m</option>
                        <option>km - m</option>
                        <option>mm - m</option>
                    </select>
                </div>

                <div id='div2'>
                    <select class="but">
                        <option>cm3 - in3</option>
                        <option>m3 - yd3</option>
                        <option>ft3 - m3</option>
                    </select>
                </div>

                <div id='div3'>
                    <select class="but">
                        <option>kg - Ib</option>
                    </select>
                </div>

            </div>


            <br><br>
            <input class="cont" type="number" value="" placeholder="valor 1">
            <p id="t1">=</p>
            <input class="cont" type="number" value="" placeholder="Resultado">
            <br><br><br><br><br><br>
            <a class="but" routerLink="/MenuPrincipal">volver</a>
        </div>
    </div>
    
    <script src="Conv.js"></script>

</body>